---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Dwayne Newman{% endif %}</h2>
          <p class="author_subtitle">aaaaa</p>
          <p class="author_subtitle">Dr. Olga Panasenco holds a Bachelor of Fine Arts (BFA) degree and continues to study 
            the theory of abstract art and the psychology of visual perception at the ArtCenter College of Design in Pasadena.</p>
        </div>
      </div>
    </div> <!-- End Section Author -->
</section>
